@charset "UTF-8";
body,header,h1,h3,div,main,input,label,span,a{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
body{
  background-image: url("../../../source/images/bgi.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.center{
  width: 414px;
  margin: 120px auto;
}
.login-main{
  background-color: #fff;
  width: 280px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}
.title{
  text-align: center !important;
  width: 280px;
  margin: 10px auto;
}
.login-userinfo{
  width: 180px;
  margin: 0 auto;
}
.login-userinfo input{
  width: 180px;
  background-color: #fff;
}
.login-username{
  background: url("../../../source/images/username.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: 20px;
}
.login-password{
  background: url("../../../source/images/password.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: 20px;
}
.login-register{
  width: 180px;
  margin: 5px auto;
}
.login-blank-remember{
  float: left;
}
.login-blank-register{
  float: right;
}
.login-register label{
  user-select:none;
}
.loign-btn-submit{
  margin: 10px auto;
  width: 180px;
}
.loign-btn-submit button{
  width: 180px;
  background-color: #1E90FF;
  border: none;
  border-radius: 5px;
  color: #fff;
}
